<div class="page-header">
    <h2>Complete!</h2>
</div>

<h3>Welcome on board</h3>

<div class="alert alert-danger alert-block">
<strong>Warning!</strong> Remove <code>install.php</code> before continue
</div>

<div class="row">
<div class="col-span-6 text-right">
    <a class="btn btn-primary btn-choose" href="/">
        <span class="glyphicon glyphicon-globe"></span>
        View site
    </a>
</div>
<div class="col-span-6 text-left">
    <a class="btn btn-primary btn-choose" href="/admin.php">
        <span class="glyphicon glyphicon-lock"></span>
        Dashboard
    </a>
</div>
</div>

<p>&nbsp;</p>
<p>You also can visit our site: <a target="_blank" href="http://bazalt-cms.com/">http://bazalt-cms.com/</a>
